* {
  margin: 0;
  padding: 0;
}

body{
  background: black;
}

.banner{
  margin-top: 50;
  background: url('./assets/backgroundB2.jpg');
  height: 45vh;
  color:white;
  min-height: 200px;
}

.body{
  background: url('./assets/bg2B.jpg');
  color:white;
  height: 45vh;
  margin-top: 50;
  min-height: 200px;
}

.HeadHeader{
  padding-top: 10px;
  background: rgba(0, 0, 0,0.8);
  text-align: center;
  color: white;
  height: 5vh;
  min-height: 50px;
}

.BodyHeader{
  padding-top: 10px;
  background: rgba(0, 0, 0,0.8);
  text-align: center;
  color: white;
  height: 5vh;
  min-height: 50px;
}
.bodyBanner{
  background: rgba(0, 0, 0,0.5);
  height: 40vh;
  min-height: 150px;
}

.bodyBody{
  background: rgba(0, 0, 0,0.5);
  height: 40vh;
  min-height: 150px;
}

.footer{
  background: #343a40;
  height: 5vh;
  min-height: 30px;
  color:white;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .body {
    background: url('./assets/bg2B.jpg');
    background-size: 850px;
  }
  .banner{
    background: url('./assets/backgroundB2.jpg');
    background-size: 1400px;
  }
}